<section class="m-15">
    <h1 class="mb-5 text-xl">Dashboard</h1>
    <h2 class="mb-5">Welcome {{userFullName}}</h2>

    <div>
        <a href="/users/sign-out" class="w-full py-3 px-6 text-white bg-indigo-500 border border-indigo-700 rounded-sm">Sign Out</a>
    </div>
</section>